@import '../../globals.scss';

.modal {
	width: clamp(40%, 30rem, 90%);
	height: min(40%, 40rem);
	background-color: #eeeeee;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #222831;
	position: fixed;
	@include mobile {
		height: min(50%, 30rem);
		width: clamp(40%, 25rem, 90%);
	}
}
